@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}
body {
	font-size: 15px;
	font-family: 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	background: #eee;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}
#main {
	background: #eee;
}
#main-in {
	padding-left: 260px;
}
#main p {
	margin-bottom: 1em;
	line-height: 1.9;
}
#main .inner {
	padding:0 25px;
}


h3 {
	color: #35404c;
	padding: 20px 0;
	font-size:1.4em;
}


/* menu */
#global-head {
	position: fixed;
	color: #033560;
	width: 260px;
	text-align: center;
	padding-top: 60px;
	z-index: 100;
}

#sidebar {
	font-size: 15px;
	padding-top: 120px;
	width: 260px;
	height: 100%;
	position: fixed;
	color: #033560;
	background: #fff;

	box-shadow: 5px 0 3px rgba(000, 000, 0, 0.5);
}

#global-nav ul {
	list-style: none;
	margin-left: 0;
}
#global-nav > ul > li {
	position: relative;
}

#global-nav a {
	color: #033560;
	text-decoration: none;
	display: block;
	padding: 15px 0 15px 80px;
	-moz-transition: background-color .3s linear;
	-webkit-transition: background-color .3s linear;
	transition: background-color .3s linear;
}
#global-nav .sub-menu.is-active > a,
#global-nav a:hover {
	color: #fff;
	background: #033560;
}
#global-nav .nv01 {
	background-image: url("../images/pt01.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv02 {
	background-image: url("../images/pt02.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv03 {
	background-image: url("../images/pt03.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv04 {
	background-image: url("../images/pt04.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv05 {
	background-image: url("../images/pt05.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv06 {
	background-image: url("../images/pt06.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv07 {
	background-image: url("../images/pt07.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv08 {
	background-image: url("../images/pt08.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}

#global-nav .nv01 a:hover{
	background-image: url("../images/pt01_h.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv02 a:hover{
	background-image: url("../images/pt02_h.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv03 a:hover{
	background-image: url("../images/pt03_h.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv04 a:hover{
	background-image: url("../images/pt04_h.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv05 a:hover{
	background-image: url("../images/pt05_h.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv06 a:hover{
	background-image: url("../images/pt06_h.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv07 a:hover{
	background-image: url("../images/pt07_h.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}
#global-nav .nv08 a:hover{
	background-image: url("../images/pt08_h.png");
	background-repeat: no-repeat;
	background-position: left 45px center;
}


#global-nav .sub-menu-nav a,
#global-nav .sub-menu:hover .sub-menu-nav {
	width: 230px;
}

/* sub-menu icon */
#global-nav .sub-menu-head {
	position: relative;
}
#global-nav .sub-menu-head:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 18px;
	margin: auto;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	border-top: 1px solid #033560;
	border-right: 1px solid #033560;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* sub-menu */
#global-nav .sub-menu-nav {
	position: fixed;
	background: #033560;
	color: #fff;
	top: 0;
	padding-top: 90px;
	left: 260px;
	width: 0;
	height: 100%;
	overflow: hidden;

	-moz-transition: width .2s ease-out;
	-webkit-transition: width .2s ease-out;
	transition: width .2s ease-out;
}
#global-nav .sub-menu.is-active > a:after,
#global-nav .sub-menu-head:hover:after {
	border-color: #fff;
}
#global-nav .sub-menu-nav a {
	color: #fff;
}
#global-nav .sub-menu-nav a:hover {
	color: #033560;
	background: #fff;
}


/* nav-toggle */
#nav-toggle {
	display: none;
	position: fixed;
	top: 15px;
	right: 15px;
	height: 32px;
}
#nav-toggle > div {
	position: relative;
	width: 32px;
}
#nav-toggle span {
	width: 100%;
	height: 2px;
	left: 0;
	display: block;
	background: #033560;
	position: absolute;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
	top: 0;
}
#nav-toggle span:nth-child(2) {
	top: 11px;
}
#nav-toggle span:nth-child(3) {
	top: 22px;
}


#overlay {
	display: none;
	position: fixed;
	background: rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* header */
.header {
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 10px;
	text-align: right;
	background-color: #98a6b5;
	color: #ffffff;
}
/* contents */
.bace {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 8px rgba(000, 000, 0, 0.5); padding:15px;
	margin-bottom: 30px;
}

ul.forms{
	clear: both;
	overflow: hidden;
	color: #777777;
}
ul.forms li{
	list-style: none;
	width: 23%;
	margin: 10px 1%;
	float: left;
}

.textbox {
	border:1px solid #cccccc;
	padding:8px;
	font-size: 1.0em;
	width: 100%;
	margin-top: 5px;
}
.selectbox {
	border:1px solid #cccccc;
	padding:7px;
	font-size: 1.0em;
	color:#888888;
	width: 100%;
	margin-top: 5px;
}
.rb {
	margin: 10px 2px 10px 10px;
	vertical-align: baseline;
}

.sb_bace {
	clear: both;
	overflow: hidden;
	text-align: right;
	margin-bottom: 10px;
}
.sb_search {
	background-color:#d3b226;
	color:#ffffff;
	padding: 10px 0;
	font-size: 1.0em;
	width: 150px;
	margin: 0 10px;
	display: inline-block;
	border-radius: 5px;
	border: none;
    outline: none;
	cursor: pointer;
}

.sb_reset {
	background-color:#98a6b5;
	color:#ffffff;
	padding: 10px 0;
	font-size: 1.0em;
	width: 150px;
	margin: 0 10px;
	display: inline-block;
	border-radius: 5px;
	border: none;
    outline: none;
	cursor: pointer;
}

/* result */
ul.result_bace {
	margin:15px 10px 0 10px;
	padding: 0;
}
ul.result_bace li {
	list-style:none;
	margin:0 0 15px 0;
	border:1px #999999 solid;
}
.sc_name {
	background-color: #eeeeee;
	border-bottom:1px #999999 solid;
	padding: 10px;
	font-weight: bold;
}
.sc_info {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.sc_info .info {
	padding:10px;
	display: flex;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	width: 75%;
}
.sc_info .more {
	width: 25%;
	text-align: center;
	background-color: #35404c;
	color:#ffffff;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.sc_info .more a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	width: 100%;
}
.status {
	background-color:#aaa;
	padding:5px 10px;
	color:#fff;
	margin-right: 10px;
}

@media screen and (max-width: 900px) {
	#main-in {
		padding-left: 0;
	}

	#global-head {
		width: 100%;
		padding: 10px;
		background: #ffffff;
		display: -webkit-flex;
		display: flex;
		box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.3)
	}

	#sidebar {
		/*display: none;*/
		position: fixed;
		right: -300px;
		top: 0;
		height: 100%;
		width: 300px;
		color: #333;
		background: #fff;
		-webkit-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
	}

	/* サブメニューは開けない */
	#global-nav .sub-menu-head:after,
	#global-nav .sub-menu-nav {
		display: none;
	}
	#nav-toggle {
		display: block;
	}

	/* nav open */
	.open {
		overflow: hidden;
	}
	.open #overlay {
		display: block;
	}
	.open #sidebar  {
		-webkit-transform: translate3d(-300px,0,0);
		transform: translate3d(-300px,0,0);
	}

	/* #nav-toggle close */
	.open #nav-toggle span:nth-child(1) {
		top: 11px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.open #nav-toggle span:nth-child(2) {
		width: 0;
		left: 50%;
	}
	.open #nav-toggle span:nth-child(3) {
		top: 11px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	/* z-index */
	#overlay {
		z-index: 200;
	}
	#sidebar {
		z-index: 300;
	}
	#nav-toggle {
		z-index: 400;
	}

.header {
	padding-top: 70px;
}
	
ul.forms li{
	width: 98%;
	margin: 20px 1%;
	float: none;
}

.sb_bace {
	text-align: center;
}
	
}

@media screen and (max-width: 400px) {
	#sidebar {
		right: -200px;
		width: 200px;
		padding-top: 60px;
	}
	.open #sidebar  {
		-webkit-transform: translate3d(-200px,0,0);
		transform: translate3d(-200px,0,0);
	}
	.sb_search {
	width: 45%;
	margin: 0 1%;
}

.sb_reset {
	width: 45%;
	margin: 0 1%;
}
	
/* result */
ul.result_bace {
	margin:10px 5px 0 5px;
	font-size: 0.8em;
}
ul.result_bace li {
	margin:0 0 20px 0;
}
.sc_info {
	display: block!important;
}
.sc_info .info {
	padding:10px;
	width: 100%;
}
.sc_info .more {
	width: 100%;
}
.sc_info .more a {
	padding: 10px;
}
	

}